@import "tailwindcss";
@plugin "@tailwindcss/typography";
.tb {
  @apply border-2 border-white;
}

.tc {
  @apply text-4xl font-bold text-white;
}

.pad__app {
  @apply px-[20px] sm:px-[50px];
}

.li__drop {
  @apply px-4 py-2 w-full flex rounded-xl transition-all duration-300 text-neutral-200 hover:text-neutral-950 hover:bg-[whitesmoke] cursor-pointer;
}

.grad__txt {
  background: linear-gradient(to right, var(--white__0), var(--neutral__600));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.scroll__app::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll__app::-webkit-scrollbar-track {
  background: transparent;
}

.scroll__app::-webkit-scrollbar-thumb {
  background: var(--white__0);
  border-radius: 10px;
  box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0);
}

.scroll__app {
  scrollbar-width: thin;
  scrollbar-color: var(--white__0) transparent;
}

.clamp__txt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
}

.link {
  transition: 0.3s ease-in-out;
  position: relative;
  max-width: fit-content;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  width: 0%;
  left: 50%;
  height: 2px;
  transition: 0.3s ease-in-out;
  background-color: var(--white__0);
}
.link:hover {
  text-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0);
}
.link:hover::after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 5px var(--white__0), 0 0 10px var(--white__0);
}

.btn__app:enabled,
.el__app {
  cursor: pointer;
  transition: 0.3s;
}
.btn__app:enabled:hover,
.el__app:hover {
  transform: scale(var(--scale__up));
}

.btn__app:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn__app:enabled:active,
.el__app:active {
  transition: 0.15s;
  transform: scale(0.8);
}

.txt__xs {
  @apply text-xs lg:text-sm font-medium;
}

.txt__sm {
  @apply text-sm lg:text-base font-medium;
}

.txt__md {
  @apply text-base lg:text-lg font-semibold;
}

.txt__lg {
  @apply text-lg lg:text-xl font-semibold;
}

.txt__xl {
  @apply text-xl lg:text-2xl font-bold;
}

.txt__2xl {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold;
}

.txt__3xl {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes skeleton {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
.skeleton {
  background: linear-gradient(to right, var(--neutral__800) 0%, var(--neutral__700) 40%, var(--neutral__800) 80%);
  background-size: 200% 100%;
  animation: skeleton 2.5s linear infinite;
}

.z__black_bg_left_side {
  z-index: 250;
}

.z__left_side {
  z-index: 500;
}

.z__black_bg__sidebar {
  z-index: 750;
}

.z__sidebar {
  z-index: 1000;
}

.z__header {
  z-index: 2000;
}

.z__black_bg__search_component {
  z-index: 3000;
}

.z__search_component {
  z-index: 4000;
}

.z__black_bg__popup {
  z-index: 5000;
}

.z__popup {
  z-index: 6000;
}

.z__toast {
  z-index: 7000;
}

.el__input {
  @apply w-full border-2 border-neutral-600 rounded-2xl py-2 px-5 text-gray-300 outline-0;
  transition: 0.3s ease-in-out;
}
.el__input:focus {
  box-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke, 0 0 15px whitesmoke;
}

.form__shape {
  @apply w-full grid grid-cols-1 gap-10;
}

:root {
  --white__0: #f5f5f5;
  --gray__300: #d1d5dc;
  --green__600: #16a34a;
  --blue__600: #2563eb;
  --red__600: #dc2626;
  --orange__600: #ea580c;
  --yellow__600: #ca8a04;
  --neutral__50: #fafafa;
  --neutral__100: #f5f5f5;
  --neutral__200: #e5e5e5;
  --neutral__300: #d4d4d4;
  --neutral__400: #a3a3a3;
  --neutral__500: #737373;
  --neutral__600: #525252;
  --neutral__700: #404040;
  --neutral__800: #262626;
  --neutral__900: #171717;
  --neutral__950: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

button {
  appearance: none;
}

a {
  text-decoration: none;
}
