@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes skeleton {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

.skeleton {
  background: linear-gradient(
    to right,
    var(--neutral__800) 0%,
    var(--neutral__700) 40%,
    var(--neutral__800) 80%
  );

  background-size: 200% 100%;
  animation: skeleton 2.5s linear infinite;
}
